@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Karla:wght@200;300;400;500;600;700;800&display=swap')
@import loading
//General
html
    overflow-x: hidden  
    scroll-behavior: smooth
body
    font-family: 'Karla', sans-serif
@font-face 
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
::-webkit-scrollbar
    width: 6px
    background: transparent
::-webkit-scrollbar-thumb
    background: #FF9900
    border-radius: 6px
.logo-font
    font-family: DINNextW01-CondensedBold
.overlay-color
    background: rgba(0, 0, 0, 0.7)
.width-32
    width: 32%
.width-95
    width: 45%
    @media (max-width: 575.98px)
        width: 85%
    @media (min-width: 576px) and (max-width: 767.98px)
        width: 80%
    @media (min-width: 768px) and (max-width: 991.98px) 
        width: 70%
.swiper-pagination-bullet
    background: #FF9900 !important
    width: 10px !important
    height: 10px !important
    transition: 0.3s
.swiper-pagination-bullet-active
    background: #FF9900 !important
    width: 12px !important
    height: 12px !important
.awssld__controls button
    z-index: 20 !important
.awssld__bullets
    display: none !important

.button-container
    &:hover>a
        width: 100%
