@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Karla:wght@200;300;400;500;600;700;800&display=swap");
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 25px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #F0A500;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.stop-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.hide {
  z-index: -9999999999;
  opacity: 0 !important;
}

.show {
  z-index: 9999999999;
  opacity: 1 !important;
}

.full-page-loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: 0.3s;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #FF9900;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
  box-shadow: 0 0 1px #FF9900, 0 0 1px #FF9900, 0 0 5px #FF9900;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF9900;
  border-radius: 6px;
}

.logo-font {
  font-family: DINNextW01-CondensedBold;
}

.overlay-color {
  background: rgba(0, 0, 0, 0.7);
}

.width-32 {
  width: 32%;
}

.width-95 {
  width: 45%;
}
@media (max-width: 575.98px) {
  .width-95 {
    width: 85%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .width-95 {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .width-95 {
    width: 70%;
  }
}

.swiper-pagination-bullet {
  background: #FF9900 !important;
  width: 10px !important;
  height: 10px !important;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background: #FF9900 !important;
  width: 12px !important;
  height: 12px !important;
}

.awssld__controls button {
  z-index: 20 !important;
}

.awssld__bullets {
  display: none !important;
}

.button-container:hover > a {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
