@tailwind base;
@tailwind components;
@tailwind utilities;

.default-button{
    @apply py-2 font-semibold shadow-sm text-white
}
.content-center-custom{
    @apply absolute w-full h-full flex flex-col items-center justify-center
}
.overlay-background{
    @apply absolute top-0 left-0 w-full h-full
}
.overlay-centered{
    @apply absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center
}
.input-style{
    @apply bg-transparent py-1 mt-1 rounded-xl pl-3 w-full outline-none border border-gray-600
}
.counters{
    @apply text-white py-2 inline text-sm rounded-2xl cursor-pointer
}
.headers{
    @apply font-extrabold tracking-widest inline-block md:text-2xl text-xl
}
.main-container{
    @apply md:px-20 px-5 pt-20 pb-10
}